<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Edit Post</title>
  </head>
  <body class="bg-gray-100">
    <div class="flex min-h-screen items-center justify-center">
      <div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full">
        <a href="/">
          <img
            class="mx-auto h-10 w-auto"
            src="/styles/images/logo.png"
            alt="Your Company"
          />
        </a>
        <h2 class="mt-6 text-center text-2xl font-bold leading-9 text-gray-900">
          Edit Your Blog
        </h2>
        <form class="mt-8" action="/edit/<%= post.id %>" method="POST">
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-900">Name</label>
            <input
              type="text"
              name="name"
              value="<%= post.name %>"
              placeholder="Name of your blog"
              class="block w-full rounded-md border py-2 px-3 text-gray-900 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-600"
            />
          </div>
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-900">
              Description
            </label>
            <textarea
              name="desc"
              placeholder="Write your blog"
              class="block w-full rounded-md border py-2 px-3 text-gray-900 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-600"
            >
<%= post.desc %></textarea
            >
          </div>
          <input
            type="submit"
            value="Update Post"
            class="block w-full rounded-md bg-indigo-800 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600"
          />
        </form>
      </div>
    </div>
  </body>
</html>
